<!doctype html>
<title>Download microlensing data</title>
<p>Select the dataset(s) to be downloaded, then click the Submit button.</p>

<form action="{{ url_for('handle_data') }}" method="post">
  MOA alerts:<br>
  <input type=checkbox id="MOA_alerts_2022" name="MOA_alerts_2022" value="2022">
  <label for="MOA_alerts_2022">2022</label><br>

  <input type=checkbox id="MOA_alerts_2021" name="MOA_alerts_2021" value="2021">
  <label for="MOA_alerts_2021">2021</label><br>

  MOA lightcurves:<br>
  <input type=checkbox id="MOA_lightcurves_2022" name="MOA_lightcurves_2022" value="2022">
  <label for="MOA_lightcurves_2022">2022</label><br>

  <input type=checkbox id="MOA_lightcurves_2021" name="MOA_lightcurves_2021" value="2021">
  <label for="MOA_lightcurves_2021">2021</label><br>

  KMTNet alerts:<br>
  <input type=checkbox id="KMTNet_alerts_2022" name="KMTNet_alerts_2022" value="2022">
  <label for="KMTNet_alerts_2022">2022</label><br>

  <input type=checkbox id="KMTNet_alerts_2021" name="KMTNet_alerts_2021" value="2021">
  <label for="KMTNet_alerts_2021">2021</label><br>

  KMTNet lightcurves:<br>
  <input type=checkbox id="KMTNet_lightcurves_2022" name="KMTNet_lightcurves_2022" value="2022">
  <label for="KMTNet_lightcurves_2022">2022</label><br>

  <input type=checkbox id="KMTNet_lightcurves_2021" name="KMTNet_lightcurves_2021" value="2021">
  <label for="KMTNet_lightcurves_2021">2021</label><br>

  OGLE alerts:<br>
  <input type=checkbox id="OGLE_alerts_2019" name="OGLE_alerts_2019" value="2019">
  <label for="OGLE_alerts_2019">2019</label><br>

  <input type=checkbox id="OGLE_alerts_2018" name="OGLE_alerts_2018" value="2018">
  <label for="OGLE_alerts_2018">2018</label><br>

  OGLE lightcurves:<br>
  <input type=checkbox id="OGLE_lightcurves_2019" name="OGLE_lightcurves_2019" value="2019">
  <label for="OGLE_lightcurves_2019">2019</label><br>

  <input type=checkbox id="OGLE_lightcurves_2018" name="OGLE_lightcurves_2018" value="2018">
  <label for="OGLE_lightcurves_2018">2018</label><br>

  <input type="submit" value="Submit">
</form>
<p><a href="{{ start_page }}">Back to home.</a></p>
