<!doctype html>
<html>
  <body>
    <p>{{ ii }}</p>
  </body>
</html>

<img src="/plot.png" alt="my plot">

{% if ii == 0 %}
<p><a href="{{ next_page }}">next</a></p>
<p>First page </p>
{% elif ii == qmax %}
<p>Last page </p>
<p><a href="{{ prev_page }}">prev</a></p>
{% else %}
<p><a href="{{ next_page }}">next</a></p>
<p><a href="{{ prev_page }}">prev</a></p>
{% endif %}

<p><a href="{{ home }}">Back to home.</a></p>

<p>
  All lightcurves:<br>
  {% for moa_name in moa_names %}
  <p><a href="{{ url_for('plot_moa', moa_alert_name=moa_name) }}">{{ moa_name }}</a></p>
  {% endfor %}
</p>
